@font-face {
    font-family: 'Lato';
    src: url(assets/fonts/Lato-Regular.ttf);
}

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    max-width: 1020px;
    min-width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D303A;
    height: 89px;
}

.navigation {
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    width: 375px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}

.navigation__link {
    color: #ffffff;
    text-decoration: none;
}

.navigation li {
    display: inline-block;
}

.navigation__link--active {
    color: #F06C64;
    text-decoration: none;
}

.header__logo {
    margin-left: 40px;
    width: 124px;
}

.decoration-line {
    height: 6px;
    background-color: #323746;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 595px;
}

.slider__arrow-left {
    position: absolute;
    left: 5%;
    top: 43%;
}

.slider__arrow-right {
    position: absolute;
    top: 43%;
    right: 5%;
}

.slider__photo {
    width: 100%;
    position: absolute;
    display: none;
    height: 100%;
}

@keyframes moveRight {
    from {
        left: 100%
    }

    to {
        left: 0
    }
}

@keyframes moveLeft {
    from {
        left: -100%
    }

    to {
        left: 0
    }
}

.decoration-line--red {
    background-color: #EA676B;
}

.services {
    width: 100%;
    height: 494px;
    background-color: #F2F2F2;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.title {
    margin: 0;
    padding-top: 59px;
    color: #666D89;
    font-size: 30px;
}

.description {
    color: #767E9E;
    font-size: 18px;
}

.services__more-details {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
}

.services__circle {
    border: 2px solid #666D89;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.services__text-content {
    width: 220px;
}

.services__items {
    display: flex;
    justify-content: space-between;
    width: 33.3%;
}

.services__item-title {
    color: #666D89;
}

.services__item-about {
    color: #767E9E;
    font-size: 12px;
    line-height: 22px;
}

.services__item-icon {
    position: relative;
    top: 20%;
    left: 25%;
}

.services__item-icon--move-right {
    left: 33%;
}

.services__item-icon--move-down {
    top: 25%;
}

.decoration-line--white {
    background-color: #ffffff;
}

.portfolio {
    background-color: #2D303A;
    height: 864px;
}

.portfolio__tabs {
    margin-bottom: 18px;
}

.portfolio__tab {
    color: #767E9E;
    text-decoration: none;
    border: 2px solid #767E9E;
    border-radius: 5px;
    padding: 3px 5px 5px;
    margin-right: 10px;
}

.portfolio__tab--active {
    color: #DEDEDE;
    border-color: #BBBBBB;
}

.portfolio__pictures {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 68px;
    height: 611px;
    overflow: hidden;
}

.portfolio__picture {
    margin-bottom: 25px;
}
